# Created by https://www.toptal.com/developers/gitignore/api/sbt,scala,bloop
# Edit at https://www.toptal.com/developers/gitignore?templates=sbt,scala,bloop

### Bloop ###
.bloop/

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

# End of https://www.toptal.com/developers/gitignore/api/sbt,scala,bloop



### Others ###
.bsp/
tmp/
scripts/graal/sdk/
