<configuration>
    <property name="APP" value="realworld" />
    <property name="LOGS" value="./log" />

    <!-- Turn-off Logback init messages -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} %highlight(%-5p) %magenta(${PID:- }) --- [%yellow(%16.16t)] %cyan(%-48.48C{48}): %msg%n%throwable
            </Pattern>
        </layout>

        <!-- On Windows machines setting `withJansi` to true enables ANSI
             color code interpretation by the Jansi library. This requires
             org.fusesource.jansi:jansi:1.8 on the class path. Note that
             Unix-based operating systems such as Linux and Mac OS X
             support ANSI color codes by default.
         -->
        <withJansi>true</withJansi>
    </appender>

    <!-- Rolling file appended does not work with Graal native image.
         Reflection config has been added on `reflect-config.json` but
         feature is disabled.
         See: https://github.com/oracle/graal/issues/1323
     -->
    <!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/${APP}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} %-5p ${PID:- } -/-/- [%16.16t] %-48.48C{48}: %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/${APP}-%d{"yyyy-MM-dd"}.%i.log</fileNamePattern>

            <!-/- Rollover daily and when the file reaches 10 MegaBytes -/->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    -->

    <root level="INFO">
        <!-- Disable on `appender-ref` as well -->
        <!-- <appender-ref ref="FILE" /> -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
